body {
  background-color: orange;
}

.main-nav {
  padding: 0;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.main-nav li {
  float: left;
}

.main-nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.main-nav li a:hover {
  background-color: #111111;
}